.container-fluid
{
    width: 100vw;
    min-height: 100vh;
}




/* ======================================================================================================= */

/* <!-- main --> */

    main
    {
        width: 100vw;
        margin : 0 auto;
        padding: 89px 34px 0 300px;
        background-color: #f1f3f9;
    }


    .mainContainer
    {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
    }

    .section{
        margin-bottom: 55px;
        width: 100%;
    }

    .title{
        margin: 0 0 21px 8px;
        display: flex;
        gap:13px;
        align-items: center;
    }

    .title span
    {
        font-size: 25px;
        text-wrap: nowrap;
    }
    
    /*
    #banner {
    width: 100%;
    height: 100px;
    border-radius: 35px;
    padding: 35px;
    background-image: url('/TripPlanner/resources/img/logo.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat : no-repeat;
    background-color:#FFFFFF;
	}
    */
    
    #tourDividerTitle 
    {
	    font-weight: bold;
	    font-size: 48px;
	    width: 1034px;
        min-width: 1034px;
	    height: 150px;
	    border-radius: 21px;
	    padding: 35px;
        margin-top: 34px;
	    text-align: center; 
	    display: flex; 
	    justify-content: center; 
	    align-items: center; 
	    background-color: #88ffcc;
	}
    

    .morePost{
        background-color: #2C3c3f;
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        border-radius: 13px;
        padding: 0 8px;
        height: 21px;
        width: 55px;
        min-width: 55px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #planner
    {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
    }

    .plannerDoubling{
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
    }

    .plannerCard {
        position: relative; /* 가상 요소를 위한 상대 위치 설정 */
        display: flex;
        flex-direction: column;
        width: 233px;
        min-width: 233px;
        height: 377px;
        background-color: #ffffff;
        box-shadow: 0px 7px 30px rgba(33,55,55,0.1);
        border-radius: 21px;
        overflow: hidden;
        padding: 8px;
        box-sizing: border-box;
    }

    .recommandCard {
        position: relative; /* 가상 요소를 위한 상대 위치 설정 */
        display: flex;
        flex-direction: column;
        width: 233px;
        min-width: 233px;
        height: 288px;
        background-color: #ffffff;
        box-shadow: 0px 7px 30px rgba(33,55,55,0.1);
        border-radius: 21px;
        overflow: hidden;
        padding: 8px;
        box-sizing: border-box;
    }

    .imgFrame
    {
        width: 217px;
        min-width: 217px;
        height: 217px;
        min-height: 217px;
        background-color: #f1f3f9;
        border-radius: 13px;
        overflow: hidden;
    }

    .pImg
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        outline: 1px solid magenta;
    }


    .plannerCol
    {
        width: calc(100% - 16px);
        margin: 8px 8px 5px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 136px;
    }

    .plannerTitle
    {
        font-size: 21px;
        line-height: 26px;
        font-weight: bold;
        color: #009988;

    }


    .plannerStatus{
        font-size: 13px;
        color: #717379;
        font-weight: bold;
    }
    
    .hashtag{
        font-size: 13px;
        color: #717379;
        font-weight: bold;
    }
    .plannerContents{
        margin-top: 13px;
        font-size: 13px;
        line-height: 21px;
    }

    /* ======================================================================================================= */



    aside{
        position: fixed;
        top: 89px;
        left: 34px;
        z-index: 999;
        transition: top 0.2s ease-out; /* 위치 변경 시 부드러운 애니메이션 */
    }

    #searchBar input{
        border: none;
        outline: 1px solid #e1e3e9;
        background-color: #ffffff;
        box-shadow: 5px 7px 18px 0px rgba(33,55,55,0.1);
        border-radius: 21px;
        height: 38px;
        padding: 0 13px;
        transition: 120ms;
        box-sizing: border-box;
        width: 232px;

    }

    #searchBar input:hover{
        outline: 1px solid #009988;
        transition: 120ms;
    }

    #searchBar input:focus{
        outline: 3.1px solid #009988;
        transition: 120ms;
    }

    #myPanel{
        background: rgba(255,255,255,0.3);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        box-shadow: 5px 7px 18px 0px rgba(33,55,55,0.1);
        border-radius: 21px;
        margin-top: 14px;
        box-sizing: border-box;
        padding: 13px;
        width: 232px;

    }
    #myPanel h1{
        font-size: 21px; 
        color: #2C3F3C;   
        font-weight: bold;
    }

    .myPost{
        margin-top: 34px;
    }

    .myPostTitle{
        padding: 0 0 5px 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        color: #2C3F3C;   
    }


	#postTitle
	{
		font-size: 15px;
	}
	
	#postCount
	{
		font-weight: 800;
	}

    .postMore{
        text-decoration: underline;
        color: #000000;
    }

    .postMore:hover{
        cursor: pointer;
    }


    .post{
        width: 100%;
        height: 89px;
        background-color: #ffffff;
        color: #2C3c3f;
        box-shadow: 0px 1px 3px rgba(33,55,55,0.2);
        padding: 8px;
        border-radius: 13px;
        box-sizing: border-box;
        margin-bottom: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .postName{
        text-align: left;
        font-size: 18px;
        color: #009988;
    }

    .postTime{
        text-align: right;
        font-size: 13px;
    }

    .postButton{
        background: rgb(103,255,176);
        background: linear-gradient(0deg, rgba(103,255,176,1) 0%, rgba(12,245,151,1) 5%, rgba(0,238,153,1) 12%, rgba(103,255,176,1) 91%, rgba(0,255,164,1) 100%);
        box-shadow: 0px 1px 2px rgba(33,55,55,0.2);
        padding: 8px;
        height: 47px;
        border-radius: 34px;
        text-align: center;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 34px;
        font-size: 18px;
        color: #2C3F3C;
        text-decoration: none;
        transition: 300ms;
    }

    .postButton:hover{
        cursor:pointer;
        background: rgb(103,255,176);
        background: linear-gradient(0deg, rgba(103,255,176,1) 0%, rgba(0,255,164,1) 5%, rgba(0,255,164,1) 12%, rgba(145,255,198,1) 91%, rgba(130,255,190,1) 100%);
        box-shadow: 0px 0px 15px 3px rgba(133,255,188,0.6);
        transition: 300ms;
    }    
    /* 로그아웃 버튼 스타일 */
	.signOutButton{
	    height: 34px;
        width: 70px;
        margin: 0 auto;
	    text-align: center;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 13px;
	    color: #2C3F3C; 
        text-decoration: none;
	}
	
	/* Hover 효과 */
	.signOutButton:hover {
	    cursor: pointer;
        text-decoration: underline;

	}
	
	
	/*=============================================================================================== */
	
	
	.signInTitle
	{
		text-align : center;
	}
	
	
	
	/* 로그인 폼 컨테이너 스타일 */
	.form-container {
	    background-color: #ffffff;
        border-radius: 13px;
        padding: 13px;
        display : flex;
        justify-content:center;
        margin-top: 13px;
	}
	
	/* 각 입력 그룹 */
	.form-group {
	    margin-bottom: 20px;
	    text-align: left;
	}
	
	/* 레이블 스타일 */
	.form-group label {
	    font-size: 14px;
	    color: #555;
	    display: block;
	    margin-bottom: 5px;
	}
	
	/* 텍스트 및 비밀번호 입력 필드 스타일 */
	.form-group input[type="text"],
	.form-group input[type="password"] {
	    width: 100%;
	    padding: 10px;
	    font-size: 14px;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    box-sizing: border-box;
	}
	
	/* 로그인 버튼 스타일 */
	#submitButton {
        background: rgb(103,255,176);
        background: linear-gradient(0deg, rgba(103,255,176,1) 0%, rgba(12,245,151,1) 5%, rgba(0,238,153,1) 12%, rgba(103,255,176,1) 91%, rgba(0,255,164,1) 100%);
        box-shadow: 0px 1px 2px rgba(33,55,55,0.2);
        width : 100%;
        padding: 21px;
        height: 34px;
        border-radius: 34px;
        border: none;
        text-align: center;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
        font-size: 18px;
        transition: 300ms;
	}
	
	#submitButton:hover {
	    cursor:pointer;
        background: rgb(103,255,176);
        background: linear-gradient(0deg, rgba(103,255,176,1) 0%, rgba(0,255,164,1) 5%, rgba(0,255,164,1) 12%, rgba(145,255,198,1) 91%, rgba(130,255,190,1) 100%);
        box-shadow: 0px 0px 15px 3px rgba(133,255,188,0.6);
        transition: 300ms;

	}
	
	
	#signUpButton
	{
		background-color: #FFFFFF;
        width: 70px;
        margin: 0 auto 34px auto;
        border-radius: 8px;
        text-align: center;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
	}	
    
    #signUpButton:hover
	{
    text-decoration: underline;	
    }
	
	
	/* 에러 메시지 표시 */
	.alert {
	    font-size: 14px;
	    color: red;
	    margin-top: 10px;
	}
	
	
	

/* ======================================================================================================= */


 /* <!--반응형 관련 css--> */
 /* 미디어 쿼리: 태블릿 이하 해상도 */
 @media (max-width: 768px) {
     #iconLogo {
         font-size: 40px; /* 로고 크기 조정 */
     }
 
     #textLogo {
         font-size: 18px; /* 텍스트 로고 크기 조정 */
     }
 }
 
 /* 미디어 쿼리: 모바일 이하 해상도 */
 @media (max-width: 580px) {
     /* #textLogo {
         display : none; /* 모바일에서는 텍스트 로고 숨기기 
     }
 
     #login {
         font-size: 10px; 
         padding: 8px 16px; 
     }*/

    #headerContainer
    {
        width: 100%;
    }

    .board
    {
        display: none;
    }
/*
    .imgFrame
    {
        display: none;;
    }
*/
 }
 